table{
  &.admin-table{
    border-collapse: collapse;
    border:0;
    overflow:auto;
    display:block;
    @include media-breakpoint-up(md){
      overflow:unset;
      display:table;
    }
    @include box-shadow(1px 2px 4px $shadow-body);
    thead{
      background-color: $table-head-bg-color;
      color:$table-head-color;
    }
    th,td{
      vertical-align:middle;
      border:0;
    }
    th{
      a{
        color: lighten($main,7%);
        &::after{
          color:$white;
        }
        &:hover{
          color:$white;
          &::after{
            color:$main;
          }
        }

        &.asc{
          &::after{
            border-style: solid;
            border-width: 0.15em 0.15em 0 0;
            content: '';
            display: inline-block;
            height: 0.45em;
            left: 0.25em;
            position: relative;
            top: 0;
            transform: rotate(-45deg);
            vertical-align: middle;
            width: 0.45em;
          }
        }

        &.desc{
          &::after{
            border-style: solid;
            border-width: 0.15em 0.15em 0 0;
            content: '';
            display: inline-block;
            height: 0.45em;
            left: 0.25em;
            position: relative;
            top: 0;
            transform: rotate(-225deg);
            vertical-align: middle;
            width: 0.45em;
          }
        }

      }
    }
    tr{
      margin: 0;
      &:nth-child(even){
        background-color: lighten($table-head-color,25%);
      }
      .td-lead{
        color:$td-lead-color;
      }
      .actions{
        :first-of-type{
          margin-bottom:.5rem;
          @include media-breakpoint-up(lg){
            margin-right: 1rem;
          }
        }
        .action-link{
          display: inline;
          :first-of-type{
            margin:0;
          }
          .action-name{
            display:none;

            @include media-breakpoint-up(lg){
              display:inline;

            }
          }
          background-color:transparent;
          border-radius: 0;
          color:$action-color;
          padding: .2rem .25rem;
          @include media-breakpoint-up(lg){
            border-radius:.2rem;
            @include make-col-ready();
            @include make-col(6);
          }
          &:hover{
            color:$actions-hover-color;
          }
        }
      }
    }
  }
}