/**
MENU
 */

@import '../shared/variables';

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../node_modules/bootstrap/scss/mixins/grid-framework";
@import "../../../node_modules/bootstrap/scss/mixins/grid";

@import './admin/buttons.scss';

header nav .nav-menu .nav-links{
  background-color: $admin-header-bg-color;
}

.admin-header{

  background-color: $admin-header-bg-color;
  .nav-brand{
    text-align: center;
    height:auto;
  }
  li{

    display: table;
    height: 100%;
    width:100%;
    text-align: center;

    .admin-link{

      color:$admin-header-link-color;
      display: table-cell;
      vertical-align: middle;
      padding: .5rem;
      font-size: 1rem;

      @include media-breakpoint-up(lg){
        padding: 0;
      }

      &:hover{

        color:$admin-header-hover-link-color;
        background-color:lighten($admin-header-bg-color,5%);

      }

    }

  }

}
.container{
  h3{
    font-size: 1.4rem;
  }
}
.content-container{
  padding: 1.5rem 1rem;
}

.krajee-default .file-caption-info, .krajee-default .file-size-info{
  height: auto;
  max-height: 25px;
}

.change-file{

  .menu{

    width:auto;

    span{

      cursor:pointer;

      i{
        margin: 0 .5rem;
      }

    }

  }

  .input{

    display: none;

  }

}