//BANNER
.banner{

    @include flex();
    justify-content: center;
    align-items: center;
    background-image: url($banner-img-sm);
    height: $banner-height-sm;
    background-position: center;
    
    @include media-breakpoint-between(md,lg){
        background-image: url($banner-img-md);
        height: $banner-height-md;
    }
    @include media-breakpoint-up(lg){
        //high resolution image
        background-image: url($banner-img-lg);
        height: $banner-height-lg;
    }
    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: $banner-opacity; 

    width: 100%;
    // max-height:50vh;

    margin-bottom:.5rem;
    h1{
        padding: .2rem 1rem;
        text-align: center;
        color: $banner-title-color;
        font-weight: $banner-title-weight;
        letter-spacing: $banner-title-letter-spacing;
        height: 20%;
    }
}

//END