/**
FORM --
**/

form {
    padding: 0.5%;
    margin: 1rem 0;
    @include responsive(wide-screens) {
        flex-direction: row;
    }
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-grow: 1;
    div {
        padding:1rem 0rem;
        width: 100%;
        &.small-input {
            width: inherit;
            @include responsive(wide-screens) {
                width: 50%;
            }
        }
        input {
            border: 1px solid rgb(129, 129, 129);
            border: 1px solid rgba(129, 129, 129, 0.432);
            border-radius: 3px;
            outline-color: none;
            transition: border 0.3s;
            &:focus {
                outline-color: transparent;
                border: 1px solid $input-focusborder-color;
                border-radius: 4px;
                &::placeholder {
                    color: transparent;
                }
            }
        }
    }
    .btn {
        line-height: 1.25;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        border-radius: .25rem;
        background-color: $green;
        padding: .5rem 1rem;
        font-size: 1rem;
        margin-top: 1rem;
        @include responsive(wide-screens) {
            margin: 0 1rem 1rem 0;
        }
        transition: background-color 0.3s;
        border:none;
        &.btn-submit {
            background-color: $green;
            color: white;
            &:hover {
                background-color: $green-hover;
            }
        }
        &.btn-reset {
            background-color: $red;
            color: white;
            &:hover {
                background-color: $red-hover;
            }
        }
    }
}
