/**
FORM --
**/


form {
    .form-control {
        &:required{
            border-left: .25rem solid $required-input-border-color;
            border-bottom-left-radius: .5rem;
            border-top-left-radius: .5rem;
        }

        border: 1px solid $input-border-color;
        border-radius: 3px;
        outline-color: none;
        transition: border 0.3s;

        &:focus {

            outline-color: transparent;
            box-shadow: none;
            border:0;
            border: 1px solid $light-main;

            &::placeholder {

                color: transparent;

            }

        }
        &::placeholder {

            color: transparent;

            @include media-breakpoint-down(md){
                color:$input-border-color;
            }

        }

    }

    padding: 0.5%;
    margin: 1rem 0;
    &.search-form{
        .search-action{
            color:$white;
            border-radius: 0;
            border-top-right-radius:3px;
            border-bottom-right-radius:3px;
            cursor:pointer;
            .fa{
                margin-right: .5rem;
            }
            &:hover{
                background-color: darken($main,10%);
                color:$white;
            }
        }
    }
    .form-group {

        padding:1rem 0rem;
        width: 100%;

        label{

            display: block;
            // @include media-breakpoint-down(md){
            //     display: none; NOT SUPPORTED IE9
            // }
        }
        .form-control-label{
            &.required{
                &::after{
                    content:" \2217";
                    color:$red;
                    display: inline;
                }
            }
        }
    }

    .btn {

        line-height: 1.25;

        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        font-size: 1rem;

        border-radius: .25rem;
        padding: .75rem 1rem;

        @include media-breakpoint-down(md){
            margin: 0 1rem 1rem 0;
            width: 100%;
        }
        
        transition: background-color 0.3s;
        border:none;

        &.btn-submit {

            background-color: $main;
            margin:.5rem 0;
            color: white;

        }

        &.btn-reset {

            background-color: $red;
            color: white;

            &:hover {

                background-color: $red-hover;

            }
        }
    }
}
