.alert{
    p{
        margin: 0;
    }
}


p,div{
    font-size: $alert-text-size;
    &.info{
        padding: .5rem;
        background-color: $info;
        background-color: rgba($info, 0.5);
        border: 1px solid $info;
        border-radius: 5px;
        margin: .5rem .2rem;
        cursor: default;
    }

    &.success{
        padding: .5rem;
        background-color: $info;
        background-color: rgba($success, 0.5);
        border: 1px solid $success;
        border-radius: 5px;
        margin: .5rem .2rem;
        cursor: default;
    }

    &.alert{
        background-color: $red;
        background-color: rgba($red,0.5);
        color: darken($dark,20%);
        border-radius: 5px;
        &.alert-warning{
            background-color:$warning;
            background-color:rgba($warning,0.5);
            border-color: $warning;
            //color: $dark;
        }
    }



}