.alert{
    p{
        margin: 0;
    }
}


p,div{
    font-size: $alert-text-size;
    &.alert{
        background-color: $red;
        background-color: rgba($red,0.5);
        color: darken($dark,20%);
        border-radius: 5px;
        cursor: default;
        &.alert-warning{
            padding: .5rem;
            background-color:$warning;
            background-color:rgba($warning,0.5);
            border-color: $warning;
        }
        &.alert-info{
            background-color: $info;
            background-color: rgba($info, 0.5);
            border: 1px solid $info;
        }

        &.alert-success{
            background-color: $success;
            background-color: rgba($success, 0.5);
            border: 1px solid $success;
        }
    }



}