@import "node_modules/bootstrap/scss/bootstrap";
@import "../../shared/variables";

//TODO remove when bootstrap added globally
a{
  text-decoration: none;
  color:$link-color;
  &:hover{
    color:$link-color;
    text-decoration: none;
  }
}
//END OF TO-DO

.profile-header{
  background-color: $profile-header-bg-color;
  padding:1rem;
  border-radius:.5rem;

  width: 100%;

  @include make-row();

  margin-right:0;
  margin-left:0;

  .profile-owner{

    @include make-col-ready();
    @include make-col(12);

    @include media-breakpoint-up(md){
      @include make-col(6);
    }

    h3{

      font-size: 1.3rem;
      color:$profile-header-color;

      margin: 0;

    }

  }

  .profile-requests{

    @include make-col-ready();
    @include make-col(12);

    text-align: left;

    @include media-breakpoint-up(md){
      @include make-col(6);
      text-align: right;
    }

    a{

      color:$profile-request-color;

      .fa{

        color:$profile-logo-pending-request-color;
        padding:0.2rem;

      }
      .profile-request-pending{

        color:$profile-pending-request-color;

      }

    }

  }

}

.profile-container{
  width:100%;
  @include make-row();
  margin:0;

  h4{
    margin:0;
    text-align:center;
    color:$profile-section-title-color;

    @include media-breakpoint-up(md){

      text-align: left;

    }

  }

  .profile-news{

    @include make-col-ready();
    @include make-col(12);
    min-height: 300px;

    background-color: $profile-news-bg-color;
    border:1px solid darken($profile-news-bg-color,3.5%);
    border-radius:.5rem;

    @include media-breakpoint-up(lg){
      @include make-col(12);
    }

    .profile-news-title{
      padding:.25rem 0;
      margin:.5rem 0;
    }

  }

  .profile-thesaurus{

    .profile-thesaurus-title{
      padding:.25rem 0;
      margin:.5rem 0;
    }

    @include make-col-ready();
    @include make-col(12);
    min-height: 500px;
    margin:2rem 0;

    @include media-breakpoint-up(lg){
      @include make-col(12);
    }

  }
}