{% extends 'base.html.twig' %}

{% block title %}New Disabled{% endblock %}

{% block content %}
    <h1>Create new Disabled</h1>

    {{ include('profiling/disabled/_form.html.twig') }}

    <a href="{{ path('profiling_disabled_index') }}">back to list</a>
{% endblock %}