@import "shared/variables";

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../node_modules/bootstrap/scss/mixins/grid-framework";
@import "../../node_modules/bootstrap/scss/mixins/grid";

@import "mixins/mixins";
@import 'structure/card';
@import "structure/search";


section{
  margin-top:1.5rem;
  margin-bottom:1.5rem;
}


.profiling-gesture-choice,.profiling-profile-choice{
  min-height:18vh;
}
.profiling-chosen-gesture{

  @include make-container();

}

.chosen-content{

  @include make-row();

}

