@import "shared/variables";
@import "mixins/mixins.scss";
@import "structure/menu.scss";
@import "structure/paragraphs.scss";
@import "structure/display.scss";
@import "structure/logbox.scss";
@import "structure/forms.scss";
@import "structure/banner.scss";

/*
    global styling file
 */
* {
    font-family: $font;
    font-size: $text-size;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    height: 100%;
    background-color: rgb(252, 252, 252);
    font-size: 1rem;
    main {
        min-height: 92vh;
    
        section{
            margin:1.5% 0%;
            width: 100%;
        }
    
        h1 {
            font-size: 2rem;
            margin: 1% 0% 2% 0%;
            text-transform: uppercase;
        }
    
        h2{
            background-color: rgba(236, 236, 236, 0.747);
            padding: 0.5rem 0.2rem;
            border-radius: .5rem;
            font-weight: 300;
            color: #848484;
            text-align: center;
        }
    
        p{
            padding: 1%;
            text-align: justify;
        }
    
        div {
    
            &#content {
                padding-top: 50px;
                @include responsive(medium-screens){
                    padding-top: $menu_height-small;
                }
                @include responsive(wide-screens){
                    padding-top: $menu_height-large;
                }
    
            }
    
        }
    
    }
    footer{
        width: 100%;
        bottom:0;
    
        height: 50px;
        @include responsive(wide-screens){
            height: $menu_height-large;
        }
        padding: 2%;
        background-color: $footer-bg-color;
        @include box-shadow(0px 1px 5px #2c2c2c);
        @include flex();
        align-items: center;
        p{
            width: 100%;
            color: $footer-p-color;
            text-align-last: center;
        }
    }
}


// GLOBAL DEFINITIONS

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color:black;
    &:visited{
        text-decoration: none;
        background-color: none;
    }
}

ul,
li {
    list-style: none;
    list-style-type: none;
}

.full{
    width: 100%;
}