{% trans_default_domain 'admin' %}
{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.space.title'|trans }}
{%  endblock %}

{% block stylesheets %}
    {# ADMIN SPACE STYLESHEET #}
{% endblock %}


{% block headerClass %}
    admin-header
{% endblock %}

{% block navClass %}

    class="navbar-nav nav-links justify-content-end"

{% endblock navClass %}

{%  block navlinks %}
    <li class="">
        <a class="admin-link" href="{{ path('home') }}">{{ 'admin.space.links.back_to_site'|trans }}</a>
    </li>

{% endblock %}


{% block banner %}
{% endblock banner %}

{% block admin_content %}
    {% block content %}
    {% endblock content %}
{% endblock admin_content %}