{% macro action(name,path,iconClass) %}
        <a href="{{ path }}" title="{{ name }}"
                    class="action-link">
            <i class="{{ iconClass }}"></i>
            <span class="action-name">
                {{ name|trans|capitalize }}
                </span>
        </a>
{% endmacro %}