/**
GLOBAL VARIABLES
 */

$font:get('typography.font');
$text-size:get('typography.size');
$break-medium: get('breakpoints.md');
$break-large: get('breakpoints.lg');

$menu_height-small: 50px;
$menu_height-large: 80px;