{% macro docLink(class,link,linkName,classlink,icon) %}

    <li class="{{ class }}">
        <a href="{{ link }}" class="{{ classlink|default(class~'-link') }}">
            {{ linkName }}
        </a>
        {% if icon is not null %}
            <i class="fa fa-angle-down"></i>
        {% endif %}
    </li>

{% endmacro %}