{% extends 'base.html.twig' %}

{% block title %}New Profile{% endblock %}

{% block content %}
    <h1>Create new Profile</h1>

    {{ include('management/profiling/profile/_form.html.twig') }}

    <a href="{{ path('management_profile_index') }}">back to list</a>
{% endblock %}