<div class="row log-box justify-content-start">
        <a class="col-6" href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
        <a class="col-6" href="{{ path('fos_user_security_login') }}">Se connecter</a>
</div>