<section>
    <article id="delete">
        <h1 class="title">
            Pour commencer
        </h1>
        <div class="content">
            <p>
                La présente documentation vous guidera dans les différentes actions qu'il vous est possible de faire afin de gerer le site.
            </p>

            <p>
                Elle offre des informations supplémentaires sur les fonctionnalités de cet espace d'administration (appelé également "<i>back-office</i>")
                et explique comment effectuer chaque action. Par ailleurs, la documentation donne des conseils, qu'il est préférable de suivre.
            </p>

            <p>
                Pour commencer, rendez-vous sur la navigation située à gauche de l'écran et choisissez la section dont vous désirez en savoir plus.
            </p>
        </div>
    </article>
</section>