{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">
        <i class="fa fa-edit icon"></i>
        {{ button_label|default('Save')|capitalize }}
    </button>
{{ form_end(form) }}