{% macro gesture(title, image, description) %}

{% set img_dir = "build/static/thesaurus/gestures/" %}

<article class="gesture">
    <div class="gesture-content">
        <img src="{{ asset(img_dir ~ image|default('default.jpg')) }}" alt="gesture-cover" class="cover">
        <div class="content">
            <h2 class="title">{{ title }}</h2>
            <p class="description">
                {{ description }}
            </p>
        </div>
        <button class="btn btn-secondary">
            <span>En savoir plus</span>
        </button>
    </div>
</article>

{% endmacro %}