{% extends 'base.html.twig' %}

{% block title %}Nouveau geste{% endblock %}

{% block content %}
    <h1>Créer un nouveau geste</h1>

    {{ include('thesaurus/gesture/_form.html.twig') }}

    <a href="{{ path('thesaurus_gesture_index') }}">back to list</a>
{% endblock %}